[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
sphinx-click = "*"

[packages]
taos = {editable = true,path = "."}
beautifulsoup4 = "==4.8.1"
click = "==7.0"
bs4 = "*"
sendgrid = "*"

[requires]
python_version = "3.6"
